{% extends "base.php" %}
{% block body %}
<div class="page-hero-top btn-grad">
      <div class="hero-top-content text-center pb-5 pt-5">
        <h1 class="pb-3 pt-3 text-white font-weight-bold">About us</h1>
      </div>
    </div>
    <div class="page-content about-content pb-md-4 pt-md-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2 pb-5 pt-5">
            <h4 class="pb-3">Who Are We</h4>
            <p class="pb-3">Headquartered in Hyderabad,Truks India are an on-demand logistics service provider that
              takes care of
              all customer's intra & intercity logistic business requirements.</p>
            <p>Truks India solutions are targeted at logistics-intensive industries across e-commerce, food, consumer
              goods, utilities, retail,
              Pharmacy industries, manufacturing industries, beverage, and other express transportation. </p>
            <h4 class="pb-3 pt-3">Our Team</h4>
            <p>
              Our team of talented professionals have wide array of experience in helping our logistics partners through
              <ul>
                <li>- Constant tracking and analytics around ime service, goods safety, merchandise quality, distance
                  traveled, variable quotes
                </li>
                <li>- Tracking the Service Level Agreement (SLA) compliance, control hassles prices on month on month
                  and feedback capture.</li>
                <li>- Providing Temperature Control(Clod Vehicles), TataAce7feet,Super Ace 8feet,Tata407,Tata14feet...up
                  to 32feet</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2 pb-5">
            <h4 class="pb-3">Our Vision</h4>
            <p class="pb-3">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
              est notare
              quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. Claritas est etiam
              processus dynamicus, qui sequitur mutationem consuetudium lectorum </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vitae nulla sint fuga quam
              a iste praesentium, ex soluta ullam tempora, esse blanditiis animi omnis similique pariatur. Distinctio,
              accusamus numquam repudiandae quaerat soluta voluptates debitis!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2 pb-5">
            <h4 class="pb-3">Our Mission</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vitae nulla sint fuga quam
                a iste praesentium, ex soluta ullam tempora, esse blanditiis animi omnis similique pariatur. Distinctio,
                accusamus numquam repudiandae quaerat soluta voluptates debitis!</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}