{% extends "base.php" %}
{% block body%}

<main>
    <!-- page-hero -->
    <div class="page-hero-top btn-grad-2">
      <div class="hero-top-content text-center pb-5 pt-5">
        <h1 class="pb-3 pt-3 text-white font-weight-bold">Drivers</h1>
      </div>
    </div>
    <!-- page-content -->
    <div class="page-content bg-light about-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2 pb-5 pt-5">
            <h3 class="pb-3">Drivers</h3>
            <p class="pb-3">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
              est notare
              quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum. Claritas est etiam
              processus dynamicus, qui sequitur mutationem consuetudium lectorum </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. vitae nulla sint fuga quam
              a iste praesentium, ex soluta ullam tempora, esse blanditiis animi omnis similique pariatur. Distinctio,
              accusamus numquam repudiandae quaerat soluta voluptates debitis!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- enquery form -->
    <div class="enquery-form-wrapper pt-5 pb-5">
      <div class="enquery-form-overlay"></div>
      <div class="container pt-md-3">
        <form action="../enquiries/enquiryForm" method="POST">
            <input type="hidden" name="type" value="driver">
          {% include 'blocks.html' %}
          </form>
      </div>

    </div>
    <!-- testimonials -->
    <div class="section-full section-testimonials-wrapper pt-5 pb-5">
      <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center pt-3">
          <h2 data-title="feedback">clients-feedback</h2>
          <div class="mt-separator-outer">
            <div class="mt-separator bg-primary"></div>
          </div>
        </div>
        <!-- TITLE END-->
        <div class="section-testimonials owl-carousel owl-theme">
          <div class="card-wrapper">
            <div class="top-image">
              <img src="img/testinomial.png" alt="">
            </div>
            <div class="box text-center btn-grad-2">
              <div class="card-body text-white">
                <div class="start-ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in faucibus orci industry, logistics,
                  finance, business. Aliquam ultrices venenatis mauris. Vestibulum luctus et.</p>
              </div>
              <div class="card-footer bg-light">
                <div class="client-info">
                  <h6>John Doe</h6>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="top-image">
              <img src="img/testinomial.png" alt="">
            </div>
            <div class="box text-center btn-grad-2">
              <div class="card-body text-white">
                <div class="start-ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in faucibus orci industry, logistics,
                  finance, business. Aliquam ultrices venenatis mauris. Vestibulum luctus et.</p>
              </div>
              <div class="card-footer bg-light">
                <div class="client-info">
                  <h6>John Doe</h6>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="top-image">
              <img src="img/testinomial.png" alt="">
            </div>
            <div class="box text-center btn-grad-2">
              <div class="card-body text-white">
                <div class="start-ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in faucibus orci industry, logistics,
                  finance, business. Aliquam ultrices venenatis mauris. Vestibulum luctus et.</p>
              </div>
              <div class="card-footer bg-light">
                <div class="client-info">
                  <h6>John Doe</h6>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="top-image">
              <img src="img/testinomial.png" alt="">
            </div>
            <div class="box text-center btn-grad-2">
              <div class="card-body text-white">
                <div class="start-ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in faucibus orci industry, logistics,
                  finance, business. Aliquam ultrices venenatis mauris. Vestibulum luctus et.</p>
              </div>
              <div class="card-footer bg-light">
                <div class="client-info">
                  <h6>John Doe</h6>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- feedback -->
     <div id="feedback">
        <a href="#" class="btn btn-info btn-grad btn-lg" data-toggle="modal" data-target="#feedback-modal">feedback</a>
      </div>
      <!-- The feedback Modal -->
      <div class="modal feedback-modal" id="feedback-modal">
        <div class="modal-dialog">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
              <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 pb-3 text-center">Feedback</h4>
                <form action="../feedback/saveFeedback" method="POST">
                    <input type="hidden" name="type" value="driver">
                  {% include 'feedback.html' %}
                  </form>
              </article>
            </div>
  
          </div>
        </div>
      </div>
  </main>
{% endblock %}
