    
{% extends "base.php" %}

{% block body%}
<!-- page-hero -->
    <div class="page-hero-top btn-grad-2">
      <div class="hero-top-content text-center pb-5 pt-5">
        <h1 class="pb-3 pt-3 text-white font-weight-bold">Are you looking of Transport Services?</h1>
      </div>
    </div>
    <!-- page-content -->
    <div class="page-content about-content pb-md-4">
      <div class="bg-light pt-md-4 pb-md-4">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-7 pb-5 pt-5 pr-lg-5">
              <h4 class="pb-3">Focus on your own business growth , we will do the rest for you
              </h4>
              <p>We are India’s first largest vendor management company providing a comprehensive logistics solutions catering the needs of our logistics partners.</p>
              <p class="pb-3">Gain an upper edge over your business competitors by channelizing your time , cost and
                effort on your very own business milestones.
              </p>
              <div class="pb-4">
                <strong class="pb-2 d-block">Current Operational Limitations</strong>
                <ul>
                  <li>- Logistics company's vehicle sourcing team looking out for vehicles and adding to the inventory
                    system</li>
                  <li>- Incuring the cost by self incase the vehicles are not sourced on time</li>
                  <li>- Also leads to significant potential threat of losing key clientele to the other market
                    competitors
                  </li>
                </ul>
              </div>
              <div>
                <strong class="pb-2 d-block">What we can do for you</strong>
                <ul>
                  <li>- One stop platform wherein we source and maintain the vehicle fleet on your behalf</li>
                  <li>- Save upfront on your operational expenses with no need of having your own vehicle sourcing team
                  </li>
                  <li>- Any cargo to Any distance , we are here to cater your personalised needs that can help your
                    business grow</li>
                </ul>
              </div>
              <p class="pb-3 pt-3">Truks India solutions are targeted at logistics-intensive industries across e-commerce,
                food, consumer goods, utilities, retail,Pharmacy industries, manufacturing industries, beverage, and
                other express transportation.
              </p>
              <div>
                  <strong class="pb-2 d-block">Our team of talented professionals have wide array of experience in helping our logistics partners through</strong>
                  <ul>
                    <li>- Constant tracking and analytics around ime service, goods safety, merchandise quality, distance traveled, variable quotes</li>
                    <li>- Tracking the Service Level Agreement (SLA) compliance, control hassles prices on month on month and feedback capture
                    </li>
                    <li>- Providing  Temperature Control(Clod Vehicles), TataAce7feet,Super Ace 8feet,Tata407,Tata14feet...up to 32feet</li>
                  </ul>
              </div>
              <p class="pb-2 pt-3">All you are required to do is to list your company with us by filling the simple enquiry form. You can also advertise your business with us as per your budget and needs. </p>
            </div>
            <div class="col-12 mt-lg-5 mb-lg-5 col-lg-5">
              <article class="card shadow mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-5 pb-3 text-center">Enterprise Enquiry</h4>
                <form action="../enquiries/enquiryForm" class="px-lg-5" method="POST">
            		<input type="hidden" name="type" value="enterprise">
          		{% include 'pagesForms.html' %}
          		</form>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="section-join-truksindia bg-gray-2 pt-5 pb-5">
        <div class="container pb-3">
          <div class="row">
            <div class="col-12">
              <div class="header  pb-4 text-center">
                <h3>Why Join TruksIndia</h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-icon-box-wraper card">
                <div class="card-icon">
                  <div class="icon-wrapper mb-4 mt-1">
                    <i class="flaticon-credit-card"></i>
                  </div>
                </div>
                <div class="icon-content text-center">
                  <h4 class="mt-tilte">Transparent pricing</h4>
                  <p>The price you see is the price you pay, no hidden cost, no extra pays. You just select the one you can offord and that's all.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-icon-box-wraper card">
                <div class="card-icon">
                  <div class="icon-wrapper mb-4 mt-1">
                    <i class="flaticon-hourglass"></i>
                  </div>
                </div>
                <div class="icon-content text-center">
                  <h4 class="mt-tilte">Real time tracking</h4>
                  <p>We give you the flexibility to track your order every single moment and enjoy the delivery process while you relax.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-icon-box-wraper card">
                <div class="card-icon">
                  <div class="icon-wrapper mb-4 mt-1">
                    <i class="flaticon-connection"></i>
                  </div>
                </div>
                <div class="icon-content text-center">
                  <h4 class="mt-tilte">Safe and reliable</h4>
                  <p>With Transparency and Real Time tracking, we guarantee safety and reliability. Our drivers are well aware of your parcel and order and we are aware of Drivers we hire.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- enquiry form -->
    
    <!-- testimonials -->
    
    <!-- feedback -->
    <div id="feedback">
      <a href="#" class="btn btn-info btn-grad btn-lg" data-toggle="modal" data-target="#feedback-modal">
        <span class="d-none d-md-block">Feedback</span>
        <span class="d-block d-md-none"><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
      </a>
    </div>
    <!-- The feedback Modal -->
    <div class="modal feedback-modal" id="feedback-modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <article class="card-body mx-auto" style="max-width: 400px;">
              <h4 class="card-title mt-3 pb-3 text-center">Feedback</h4>
              <form action="../feedback/saveFeedback" method="POST">
                    <input type="hidden" name="type" value="enterprise">
                  {% include 'feedback.html' %}
                  </form>
            </article>
          </div>

        </div>
      </div>
    </div>
  {% endblock%}