
{% block form%}

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" placeholder="enter name" name="name" class="form-control" id="name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" placeholder="enter phone no." name="phone" class="form-control" id="phone">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" placeholder="enter email" name="email" class="form-control" id="emial">
            </div>
          </div>
          <div class="col-12 mx-auto justify-content-center d-flex mt-3">
            <button type="submit" class="btn btn-primary btn-book-truck btn-grad">Submit Enquiry</button>
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}