
{% block form%}
<div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
    </div>
    <input name="name" class="form-control" placeholder="Full name" type="text">
  </div> <!-- form-group// -->
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
    </div>
    <input name="phone" class="form-control" placeholder="Phone number" type="text">
  </div> <!-- form-group// -->
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
    </div>
    <input name="email" class="form-control" placeholder="Email address" type="email">
  </div> <!-- form-group// -->
  <div class="form-group mb-5">
    <button type="submit" class="btn btn-primary btn-grad btn-block"> Submit Enquiry</button>
  </div>
  
  {% endblock %}